<!-- flash markup -->
<div class="flash-modal" id="flash-modal">
  <div class="modal-content" id="modalContent">
    <span class="close-btn" id="closeBtn">&times;</span>
    <div class="modal-icon" id="modalIcon"></div>
    <h2 id="modalTitle"></h2>
    <p id="modalMessage"></p>
  </div>
</div>
