<header class="header">
  <!-- Logo Section -->

  <a href="/" title="go home" class="brand-info">
    <img src="/assets/brand-logo.png" alt="Company Logo" class="image-logo" />
    <p>Review System</p>
  </a>

  <nav>
    <div class="hamburger" id="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <div class="nav-control">
      <!-- Hamburger Menu Icon -->
    </div>
    <ul>
      <li>
        <!-- Greetings Section -->
        <div class="logged-in user-info">
          <h1>Welcome , <span>Arun Kumar</span></h1>
        </div>
      </li>
      <li class="nav-control">
        <a class="btn add-employee-btn" href="/add-employee">Add Employee</a>
      </li>
      <li class="nav-control">
        <button class="btn signout-btn">Sign Out</button>
      </li>
    </ul>
  </nav>
</header>
