<link rel="stylesheet" href="/css/form.css" />

<div class="main-container">
  <div class="form-container">
    <h3 class="heading">Enter Employee Details</h3>
    <form class="form" action="/create-employee" method="POST">
      <!-- Username input -->
      <div class="form-control">
        <input
          type="text"
          id="name"
          name="username"
          class="login-form-input"
          placeholder="Username"
          required
        />
      </div>

      <!-- Email input -->
      <div class="form-control">
        <input
          type="email"
          id="email"
          name="email"
          class="login-form-input"
          placeholder="Enter your email"
          required
        />
      </div>

      <!-- Password input -->
      <div class="form-control">
        <input
          type="password"
          id="password"
          name="password"
          class="login-form-input"
          placeholder="Password"
          required
        />
      </div>

      <div class="form-actions">
        <!-- Cancel button -->
        <a href="/admin-dashboard" class="cancel-button">CANCEL</a>

        <!-- Add button -->
        <button type="submit" class="add-button">ADD</button>
      </div>
    </form>
  </div>
</div>
