<link rel="stylesheet" href="/css/dashboard.css" />
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  rel="stylesheet"
/>

<div class="dashboard-container">
  <div class="table-heading">Employee List</div>
  <table class="employee-table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>john.doe@example.com</td>
        <td>Employee</td>
        <td>
          <button class="btn edit-btn"><i class="fas fa-edit"></i> Edit</button>
          </td>
          <td>
            <button class="btn delete-btn">
              <i class="fas fa-trash-alt"></i> Delete
            </button>
          </td>
          <td>
            <button class="btn review-btn">
              <i class="fas fa-tasks"></i> Assign Review
            </button>
          </td>
        </td>
      </tr>
    
    </tbody>
  </table>
</div>
