<link rel="stylesheet" href="/css/pagenotfound.css" />

<div class="main-container">
  <div id="pagenotfound" class="container">
    <h1>404</h1>
    <p class="message">
      Oops! It seems , We don't have page you are looking for
    </p>
    <a href="/" class="home-button">Take Me Home</a>
  </div>

  <!-- Floating Elements for Extra Style -->
  <div class="floating-circles">
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
  </div>
</div>
