/* Body Styling */
main {
  background: linear-gradient(
    135deg,
    #74ebd5 0%,
    #acb6e5 100%
  ); /* Soft gradient background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

/* Main Container Styling */
.main-container {
  background-color: var(--clr-white);
  border-radius: var(--pd-08);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  padding: var(--pd-2);
  width: 100%;
  max-width: var(--min-width);
  margin: 0 auto;
  text-align: center;
  animation: fadeIn 1.2s ease-out; /* Simple fade-in animation */
}

/* Fade-In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading {
  color: var(--clr-primary);
  font-weight: 600;
  margin: var(--mg-04) 0 var(--mg-08);
}

/* Form Styling */
.form {
  display: flex;
  flex-direction: column;
}

/* Form Control Styling */
.form-control {
  margin-bottom: 1.5rem;
}

.form-control input {
  width: 100%;
  padding: var(--pd-08) var(--pd-1-6);
  outline: 1px solid var(--clr-gray);
  border-radius: var(--pd-2);
  font-size: 1.32rem;
  background-color: var(--clr-light-white);
  transition: all 0.3s ease;
  text-indent: var(--pd-04);
}

.form-control input:focus {
  border-color: var(--clr-primary);
  background-color: var(--clr-white);
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  outline: none;
}

/* Login Button Styling */
button.login-button {
  width: 100%;
  padding: var(--pd-08);
  border: none;
  border-radius: var(--pd-2);
  background-color: var(--clr-primary);
  color: #fff;
  font-size: 1.2rem;
  font-weight: var(--font-wt-600);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
  background-color: var(--clr-secondary);
  transform: translateY(-3px);
}

/* Sign Up Link Styling */
div.signup-link {
  margin-top: var(--mg-2);
}

div.signup-link h5 {
  font-size: 1.1rem;
  color: #4b4b4b;
  font-weight: var(--font-wt-400);
}

div.signup-link #sign-up {
  display:block;  
  font-size: 1.2rem;
  padding: var(--pd-08);
  color: var(--clr-primary);
}

/* .signup-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 50px; 
  background-color: transparent;
  color: var(--clr-primary);
  outline: 2px solid var(--clr-primary);
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
} */

/* .signup-button:hover {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3); /* Add shadow on hover */
/* } */

/* Extra Responsiveness for Smaller Screens */
@media (max-width: 768px) {
  .main-container {
    padding: 1.5rem;
    width: 90%;
  }
}
